ip=127.0.0.1
port=8175
timeout=30

#run by daemon
#value is true or false
daemon=true
stacksize=256KB

heartbeat = 30
niosize = 20
siosize = 5


basepath=/opt/ydb/storage/

logpath=/opt/ydb/storage/log
logprefix=ydb-storage

#unit KB MB GB
logsize=10mb

# Debug 
# Info 
# Warn 
# Error 
# Mark 
loglevel=info

tracker=127.0.0.1:8175
tracker=127.0.0.1:8176

#the storage's group
#in the same group,it will sync data
groupname=g001

#the storage's id
#this id is must unqine in the group
machineid=m001

#the disk io threads count
diosize=4

#the data mount point
#256 mount points must be supported per storage
#so max mp is mpFF
#note:the mount point free size is use to single disk sync
# so the best way for the mount point is that config it to the single mount point 
# and avoid task over the disk by temp file
mp00=/opt/ydb/data/
#mpFF=/opt/ydb/data/

#the mount point balance mode
#loop:loop the all mount point
#maxdisk:found the max free  disk
#turn:all the mount point in turn
#master:specifies the mount point by master
balance=loop

#style as mount point key
#if balance is not master,this config item is unuseful
master=mp00

#the limit for the mount point min free disk size
freedisk=4GB

#the store path dir count
#the max value is 256
storepaths=64

#loop:loop the store path
#turn:store one path storecount times
storemode=loop

#if storemode is turn,then this value is useful
#it means store times
storecount=4096

#this value means whether use new value to fill the old deleted disk file
#if the value is true,keep the hole and not use the skiplist for
#deleted-file-hold 
#if the vaule is false,use the skiplist to index the deleted-file-hold
hole=true

#this value means the file context whether compressd by zip
#if the value is true,enable the switch and must use the zip lib
compress=true

#the operator means whether enable the chunk file to store buffer
chunkfile=true

#this operator is the chunkfile size
#when chunkfile is true,the operator is enable only
chunksize=64MB

#the operator means when store the buffer use disk size 
# is more than the real buffer size
# if your app must support for modify and it very frequent
# pelase open the operator and set the oversize by your real time
overload=true

# the operator value maybe is relative value　or the absolute value
# and the operator is useful only when overload is true
oversize=20%

#sync
#value is realtime fixed
sync=realtime

begin=00:00
end=04:00
