ip=127.0.0.1
port=4150
timeout=30

#run by daemon
#value is true or false
daemon=true
stacksize=256KB

heartbeat = 30
niosize = 20
siosize = 5


basepath=/opt/ydb/tracker/

logpath=/opt/ydb/tracker/log
logprefix=ydb-tracker

#unit KB MB GB
logsize=10mb

# Debug 
# Info 
# Warn 
# Error 
# Mark 
loglevel=info


#loop:loop the all storage
#maxdisk:found the max free  disk
#turn:all the storage in turn
#master:specifies the storage by storage
balance=loop

#style as machineid
master=
